/* Head style */
.head{
    background: url(https://static.shurgard.com/-/media/shurgard/general/carrousel/segmentation/tyres-storage.jpg?w=1920&h=600&hash=CE7EFDBA341088D4D23659077122D917);
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
}
.head .contents {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:white;
}
.head .contents h1 {
    font-size: 3rem;
}
.head .contents p {
    font-size: 1rem;
    color: rgb(175, 175, 175);
}

.we {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
    gap: 20px;
}
.we .left {
    width: 50%;
}
.we .left h1 {
    font-size: 28px;
}
.we .left p {
    font-size:15px;
    opacity: 0.8;
    font-weight: 300;
}
.we .right {
    width: 50%;
}
.workshop .left img{
    width: 200px;
    height: 350px;
    object-fit: cover;
    margin-left: 5px;
}
.workshop{
    display: flex;
    padding: 10vh 10vw;
    align-items: center;
}
.workshop .left {
    width: 50%;
    position: relative;
}
.workshop .right {
    width: 50%;
}
.workshop .left .year {
    position: absolute;
    bottom: 0;
    right: 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
}
.workshop .left .year h1{
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    text-align: center;
}
.workshop .left .year p{
    font-size: 12px;
    margin: 0;
}
.workshop .right .top{
    color: var(--accent-color);
    font-weight: 600;
}
.workshop .right h2{
    font-weight: 700;
    font-size: 30px;
}
.workshop .right .description{
    font-size: 15px;
    opacity: 0.8;
}
.why {
  padding: 5vh 10vw;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  flex: 1;
  min-width: 320px;
}

.right {
  flex: 1;
  min-width: 320px;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.line {
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
  margin-top: 6px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 20px;
  padding-right: 30px;
}

.whyList {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}

.whyItem {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--accent-color);
  display: flex;
  align-items: center;
}
.whyItem svg {
  color: var(--secondary-brand-color);
  margin-right: 10px;
  font-size: 40px;
}
[data-theme="dark"] .whyItem svg {
  color: #1eff00;
}
.subheading {
  font-size: 22px;
  color: var(--accent-color);
  font-weight: 600;
  padding-bottom: 20px;
}

.additionalList {
  list-style: none;
  padding: 0;
  columns: 2;
  column-gap: 40px;
}

.additionalItem {
  font-size: 15px;
  padding: 6px 0;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.additionalItem:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.tag2 .content{
    position: absolute;
    top: 25%;
    left: 15%;
}
.tag2 .content h1{
    font-size: 50px;
    font-weight: 800;
    margin: 10px 0;
    line-height: 55px;
}
.tag2 .content svg{
    background-color: rgb(255, 0, 0);
    padding: 7px;
    border-radius: 100%;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.tag2{
   color: white;
    background-image: url('../../assets/oil.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 60vh;
    position: relative;
}
/* Chat things end */

/* Apppointment */
.appointment {
  padding: 5vh 10vw;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.book {
  padding: 30px 40px;
  background-color: red;
  color: white;
}
.book .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.book .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.book button{
  padding: 20px 40px;
  background-color: white;
  color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;  
  transition: background-color 0.3s ease, color 0.3s ease;
}
.book button:hover {
   background-color: rgb(202, 0, 0);
  color: white;
}
@media (max-width: 500px) {
    .head {
        height: 30vh;
    }
    .head .contents h1 {
    font-size: 1.7rem;
}
    .head .contents p {
        font-size: 0.6rem;
        color: rgb(175, 175, 175);
    }
    .we {
        flex-direction: column;
        align-items: center;
        padding: 5vh 15vw;
    }
    .we .left {
        width: 100%;
    }
    .we .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .we .left h1 {
        font-size: 20px;
    }
    .we .left p {
        font-size: 10px;
    }
    .we .right img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
    .workshop{
        flex-direction: column;
        padding: 5vh 2vw;
    }
    .workshop .left{
        width: 100%;       
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .workshop .right{
       margin-top: 20px;
        width: 80%;      
    }
    .workshop .right h2{
        line-height: 30px; 
        margin: 10px 0; 
    }
    .workshop .right .description{
        font-size: 13px;   
    }
    .workshop .left img{
        width: 130px;
        height: 300px;
    }
    .workshop .left .year {
        right: 10%;
        bottom: -5%;
        width: 90px;
    }
    .workshop .left .year h1{
        font-size: 30px;
    }
    .workshop .left .year p{
       text-align: center;
    }
    .tag2 .content h1{
        font-size: 25px;
        line-height: 30px;
    }
    .tag2 .content p{
      font-size: 10px;
    }
    .tag2 .content svg{
      font-size: 30px;
      padding: 5px;
    }
    .tag2{
      height: 50vh;
    }
    .appointment .bottom {
        flex-direction: column;
        align-items: center;

    }
    .additionalList {
        columns: 1;
    }
    .whyItem {
        font-size: 15px;
    }
    .why .description {
        font-size: 14px;
    }
    .why .left {
        min-width: 100%;
    }
    .why .right {
        min-width: 100%;
    }
    .home .tag2 h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .tag2 .content {
        top: 20%;
        left: 10%;
    }
    .appointment {
        padding: 4vh 10vw;
    }
    .appointment .book {
        padding: 20px 30px;
    }
    
}